@import '../../App.scss';

.ProjectPage-container {
    display:"flex"; 
    flex-direction:"column";
    flex:4;
    margin-left: 300px;
    padding:10px;
    position: relative;
}

.ProjectPage-search {
    display: flex;
    flex-direction: row;
    padding:1em;
}