/* Variables */
:root {
  --body-color: rgb(247, 250, 252);
  --button-color: #368edf;
  --accent-color: #368edf;;
  --link-color: #ffffff;
  --font-color: rgb(105, 115, 134);
  --radius: 6px;
  --form-width: 400px;
}

/* Base */
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
}

/* Layout */
.sr-root {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 980px;
  padding: 48px;
  align-content: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
}
.sr-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-self: center;
  padding: 75px 50px;
  width: var(--form-width);
  border-radius: var(--radius);
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08);
}

.sr-field-error {
  color: var(--font-color);
  text-align: left;
  font-size: 13px;
  line-height: 17px;
  margin-top: 12px;
}

/* Inputs */
.sr-input,
input[type="text"] {
  
  padding: 5px 12px;
  height: 44px;
  width: 100%;
  border-bottom: .1em solid #e3e1e1;
  appearance: none;
}

.sr-input::placeholder,
input[type="text"]::placeholder {
  color: var(--gray-light);
}
.sr-result {
  height: 44px;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease;
  color: var(--font-color);
  overflow: auto;
}

.sr-result.expand {
  height: 100%;
}

/* Buttons and links */
button {
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 2.5em;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: 100%;
}

/* Code block */
code,
pre {
  font-size: 12px;
}

/* Stripe Element placeholder */
.sr-card-element {
  padding-top: 12px;
}

.hidden {
  display: none;
}
