@import '../../../App.scss';

.menu-item {
    width:100%;
    height:50px;
    @include flex($dir:row, $just:left, $align:center);
    background-color: $primaryColor;
    color:$secondaryColor;
    padding:$padd;

    &:active, &:hover {
        background-color: $secondaryColor;
        color:$primaryFontColor;

        font-weight: $titleWeight;
    }

}

.itemIcon {
    flex:1;
    @include flex($dir:row, $just:flex-end, $align:center);
}

.title {
    margin-left: 5px;
    flex:1.5;
    display:flex;
}
