@import '../../../App.scss';

.menu-item {
    width:100%;
    height:50px;
    @include flex($dir:row, $just:left, $align:center);
    background-color: rgba(0,0,0,0);
    color:$secondaryColor;
    font-size: 12pt;
    text-decoration: none;

    &:active, &:hover {
        background-color: $secondaryColor;
        color:$primaryFontColor;

        font-weight: $titleWeight;
    }

}

.highlight{
  width: 100%;
}

.highlight > div{
    background-color: $secondaryColor;
    color:$primaryFontColor;

    font-weight: $titleWeight;
}

.itemIcon {
    flex:1;
    @include flex($dir:row, $just:flex-end, $align:center);
}

.title {
    margin-left: 5px;
    flex:1.5;
    display:flex;
}
