@import '../../../App.scss';

.listGroup {
  text-transform: uppercase;
  padding: 1em;
  font-weight: 500;
  border-radius: .2em;
  border: 1px solid $fifthColor;
  margin: .5em;
  @include flex($dir:row, $just:space-between, $align:center);
}

.listGroup:hover{
  background-color: $sixthColor;
  font-weight: 700;
}

.progressBar{
  @include flex($dir:column, $just:center, $align:center);
}

.progressCont{
  -webkit-appearance: none;
  background-color: $fifthColor;
  border-radius: 1em;
  border:0;
  height: 1em;
  width: 100%;
}

.progressValue{
  position: relative;
  background-color: $highlights;
  height: 1em;
  border-radius: 1em;
}

.listItem{
  flex:1;
  padding: .5em;
}

.projectName{
  flex: 2;
}

.actIcon{
  flex:.25;
  @include flex($dir:column, $just:center, $align:center);
}

.checkbox{
  flex: .25;
}