@import '../../../App.scss';

.listTitle {
  text-transform: uppercase;
  padding: 1em;
  font-weight: $titleWeight;
  font-size: 12pt;
  padding: .5em;
  color: #B4B8AB;
  @include flex($dir:row, $just:space-between, $align:center);
}

.listHeader{
  flex: 1;
  padding: .5em;
}

.projectlistHeader{
  flex: 2;
}

.iconHeader{
  flex:.25;
}

.checkbox{
  flex: .5;
}

