@import '../../../App.scss';

td{
  padding: .75em;
  color: #D3D3D3;

}

tr {
  &:hover {
    background-color:$sixthColor;

    td {
      color:black;
      font-weight: 500;
    }
  }


}

.checkbox{
  color: $primaryColor;
}