@import '../../../App.scss';

.AnalyticsPage-container {
    display:"flex"; 
    flex-direction:"column";
    flex:4;
    margin-left: 300px;
    padding:10px;
}

.AnalyticsPage-content {
    display: flex;
    @include flex($dir:column, $just:space-around, $align:center);
    padding-top: 30px;
}

.AnalyticsPage-section {
    @include flex($dir:row, $just:space-around, $align:center);
    margin:10px;
}

.AnalyticsPage-weekMonth {
    width: 90%;
    @include flex($dir:column, $just:flex-start, $align:left);
}

.AnalyticsPage-counters {
    @include flex($dir:row, $just:space-around, $align:center);
    text-align: center;
}

.AnalyticsPage-counter-section {
    height: 200px;
    margin:10px;
    padding:10px;

    h3 {
        font-size: 16pt;
        margin-left: 10px;
    }
}

.AnalyticsPage-counter-header {
    @include flex($dir:row,$just:left,$align:center);
}

.AnalyticsPage-bar {
    margin-top:50px;
    @include flex($dir:column,$just:left,$align:left);

    h3 {
        font-size: 16pt;
        margin-left: 10px;
    }
}

.AnalyticsPage-pie {
    @include flex($dir:column,$just:center,$align:center);
    width:300px;
    height: 300px;
    padding:30px;

}

.BarGraph-pie-hole {
    width:150px;
    height:150px;
    border-radius: 75px;
    background-color: white;
    position: absolute;
}
