@import '../../App.scss';

.btn {
    width: 130px;
    height:40px;
    @include flex($dir:column, $just:center, $align:center);
    background-color: $highlights;
    color:$secondaryColor;
    padding: $padd;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

    .btnTitle {
        font-size: $titleSize;
        font-weight: $titleWeight;
    }

    &:active, &:hover {
        background-color: $secondaryColor;
        color:$primaryFontColor;
        outline: 1px #D3D3D3 solid;
    }
}