@import '../../../App.scss';

.clientListCont {
  text-transform: uppercase;
  padding: 1em;
  font-weight: 500;
  border-radius: .2em;
  border: 1px solid $fifthColor;
  margin: .5em;
  
}

.clientListCont:hover{
  background-color: $sixthColor;
  font-weight: 700;
}

.clientList{
  flex:1;
  padding: .5em;
  text-align: center;
}


.clientImage>svg{
  width: 2em;
  height: 2em;
}

.clientEmail{
  text-transform: lowercase;
  color: $highlights;
}

.editIcon{
  flex:.25;
  @include flex($dir:column, $just:center, $align:center);
}