@import '../../App.scss';

.menu-container {

    height:100%;
    flex:1;
    background-color: $primaryColor;
    @include flex($dir:column, $just:center, $align:center);
    overflow: hidden;

    .logo {
        width: 100px;
        height:100px;
        background-color: $secondaryColor;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .menu-items {
        padding-left: 30px;
    }
    tr:hover, tr:active {
        background-color: $secondaryColor;
        color:$primaryFontColor;

        font-weight: $titleWeight;
    }

}