@import '../../App.scss';

.menu-container {
    width: 100%;
    height:100%;
    flex:1;
    background-color: $primaryColor;
    @include flex($dir:column, $just:center, $align:center);
    overflow: hidden; 

    .logo {
        width: 100px;
        height:100px;
        background-color: $secondaryColor;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}